body {
  font-family: 'Libre Franklin', sans-serif;
  width: 80%;
  margin: auto;
  background-color: lightgray;
  text-align: left;
  /* background-image: radial-gradient(lightgray,gray); */

}

i {
  font-size: 2em;
  color: orange;
}


.about {
  width: 100%;
  height: 50vh;
  /* border: 2px red solid; */
  padding: 3%;
  /* margin: 25px; */
  /* box-shadow: 5px 10px black; */
  background-color: lightgray;
  box-sizing: border-box;
  background-image: url(../img/profileme.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0% 1%;
  width: 30%;
  position: absolute;
  right: 10px;
  top: 250px;
  /* margin: 0 auto; */
}

.projects {
  width: 100%;
  height: 50%;
  padding: 3%;
  /* margin: 25px; */
  background-color: lightgray;
  box-sizing: border-box;
  /* background-image: url(../img/WallpaperLetter.jpg); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: underline;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: green;
}


  .typecover {
    float: right;
    width: 40%;
    margin-right: 5%;
  }

  .typecover > img {
    width: 100%;
    transform: rotate(90deg);
    transition: none;
  }

  .typeword {
    width: 40%;
  }

  .designcover {
    float: right;
    width: 40%;
    margin-left: 5%;
  }

  .designcover > img {
    width: 100%;
    visibility: visible;

  }

  .drawingcover {
    float: left;
    width: 40%;
    margin-right: 5%;
  }

  .drawingcover > img {
    width: 100%;
    z-index: auto;
  }

.tablecover {
  width: 40%;
  margin-left: 5%;
}

  table {
    width: 100%;
  }

ul,li {
  list-style-type: none;
  display: inline-flex;
  padding-left: 5%;
  padding-right: 5%
}

ul {
  /* width: 75% */
}

li > a {
  color: white;
}

nav {
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav > a {
  color: white;
  padding-left: 5%;
  align-self: center;
}

form {
  width: 90%;
  padding: 3%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.75);


}

.newsletter {
  background-color: rgba(255,255,255,0.75);
  height: 25vh;
  margin: 0 auto;
  padding: 3%;
}


.emailbox {
  padding: 2%;
  width: 65%;
  margin: auto;
}


.submitbutton {
  padding: 2%;
  width: 15%;
}

.contact {
  background-color: darkgray;
  color: white;
  display: flex;
  justify-content: center;
}

.notebox {
  width: 50%;
  padding: 5%;
}

.socialbox {
  width: 50%;
  padding: 5%;
}

.socialboxbox {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

a.social {
  color: white;
  padding: 3%;
}



@@media all and (min-width: 320px) and (max-width: 780px) {
  .about {
    background-color: white;
  }

  .typecover {
    float: none;
    width: 100%;
    margin: 0;
  }

  .sparkcover {
    float: none;
    width: 100%;
    margin: 0;
  }

  .whalecover {
    float: none;
    width: 100%;
    margin: 0;
  }


}
